* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 17px;
}

body {
    background-image: url(./img/people-2570488_1920.jpg);
}
.wrap {
    width: 80%;
     margin: auto;
     margin-top: 30px;
}
ul  {
    display: flex;
    justify-content: space-around;
    line-height: 30px;
   
}
ul li > ul{
    
    display: block

}
ul > li {
    background-color: rgb(228, 200, 200) ;
    
    height: 30px;
    width: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
}
ul li ul li {
    opacity: 0;
    visibility: hidden;
    transition: all 1s 0s ease;

    
}
ul li:hover ul li {
    background-color: rgb(228, 200, 200);
    visibility: visible;
    opacity: .8;
    top: 10px;
}
